<!DOCTYPE html>
<html lang="en" >
  <head>
    {%load static%} {%load django_bootstrap5%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoteApp</title>

    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'mystyle/index9.css' %}" />
  </head>
  <body class = "text-black">
    <h4 id = "Logo">Notes</h4>
    <div id = "userContainer" class="container" style = "float:right">
      <div id = "divInfoUser" >
        <p id = "showingUsername" style="display:inline-block;">Hola  <strong id="showUsername"></strong></p>
        <div id = "profilePhoto" style="display:inline-block;" class = "container">
          <a id = "photo" href="#modalInfoUser" data-toggle="modal" >User</a>
        </div>
      </div>
    </div>

    <!--create note modal-->
    <div id="modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div id = "createNoteBody" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nueva Nota</h5>
            <button
              type="button"
              class="btn-close btn btn-danger"
              data-dismiss="modal"
              aria-label="Close"
            >
              X
            </button>
          </div>
          <div id="modalBody" class="modal-body">
            <form>
              <input id="token" type="hidden" value='{% csrf_token %}' />
              <input id="notaTitle" placeholder="Title" />
              <div class="container" id="containerContentNote">
                <div id="divContent" contenteditable="true"></div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="createNota"
              data-dismiss="modal"
            >
              Save Note
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--edit note modal-->
    <div id="editNoteModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div id = "cuerpoModal"  class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nota</h5>
            <button
              type="button"
              class="btn-close btn btn-danger"
              data-dismiss="modal"
              aria-label="Close"
            >
              X
            </button>
          </div>
          <div id="modalBody" class="modal-body">
            <form>
              <input id="token" type="hidden" value='{% csrf_token %}' />
              <input id = "contentId" type = "hidden"/>
              <input id="editTitle" placeholder="Title" />
              <div class="container" id="containerContentNote">
                <div id="editContent" contenteditable="true"></div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              id="editNota"
              data-dismiss="modal"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-danger"
              id="deleteNota"
              data-dismiss="modal"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--login modal-->
    <div id="loginModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button
              type="button"
              class="btn-close"
              data-dismiss="modal"
              aria-label="Close"
            >
              X
            </button>
          </div>
          <div id="modalBody" class="modal-body">
            <form>
              <input id="token" type="hidden" value='{% csrf_token %}' />
              <input id="loginUsername" placeholder="username" />
              <input id="loginPassword" placeholder="Password" />
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="sendLogin"
              data-dismiss="modal"
            >
              Enter
            </button>
          </div>
        </div>
      </div>
    </div>

    <!---register Modal-->
    <div id="registerModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Register</h5>
            <button
              type="button"
              class="btn-close"
              data-dismiss="modal"
              aria-label="Close"
            >
              X
            </button>
          </div>
          <div id="registerModalBody" class="modal-body container">
            <form>
              <input id="token" type="hidden" value='{% csrf_token %}' />
              <input id="registerUsername"  placeholder="Username" />
              <input id="registerEmail"  placeholder="Email" />
              <input id="registerPassword" placeholder="Password" />
              <input id="confirmRegisterPassword" placeholder="Confirm Password" />


            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="sendRegister"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>

    <!---Modal con la info del usuario--->
    <div id="modalInfoUser" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">User Info</h5>
            <button
              type="button"
              class="btn-close"
              data-dismiss="modal"
              aria-label="Close"
            >
              X
            </button>
          </div>
          <div class="modal-body">
            <div id="userInfo">
              <label>Username:</label> <label id="username"></label>
              <br />
              <label>Email:</label> <label id="email"></label>
            </div>
          </div>
          <div class="modal-footer">
            <button id = "logout" class="btn btn-default">Logout</button>
          </div>
        </div>
      </div>
    </div>

    <div id="notes" ></div>

    <div id="footer" class = container>
      <a
        id="addNoteButton"
        class="btn btn-primary translate-middle"
        href="#modal"
        data-toggle="modal"
        ><p id = "sumaSimbol">+</p></a
      >
    </div>

    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'myjs/index5.js' %}"></script>
    <!---------------------------------------------------------------->
  </body>
</html>
