html{
    font-style:italic;
}
body{
    background-image: url("/static/img/bg2.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: gray;
}
#notes{
    width:100%;
    background-color : transparent;
    margin-left: 2rem;
}
#Logo{
    float:left;
    margin-top: 2rem;
    margin-left: 2rem;

}
.card{
    display: inline-block;
    width: 23rem;
    height: 12rem;
    margin:1rem 1rem 1rem 1rem;
    border-radius:1rem;
    background-color:#e9e9e9;
    box-shadow: 5px 5px 10px  rgb(177, 177, 177);
}
.card:hover{
    box-shadow: 5px 5px 10px  rgb(98, 98, 98);
}
.card-body{
    max-height: 10rem;
    height:10rem;
}
#cardFoother{
    float: right;
    text-align: right;
    height: 2rem;
    width: 100%;
}
.foother{
    text-align:center;
    margin-right: 1.5rem;
    float:right;
}
#addNoteButton{
    float: right;
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin:0 4rem 0 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0,);

	border-radius: 1rem; /* Borde del boton */
	position: fixed;
	bottom: 40px;
	right: 0px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
#addNoteButton:hover{
    box-shadow: 5px 5px 10px  rgb(98, 98, 98);
}
@media only screen and (max-width: 600px) {
    #addNoteButton {
       font-size: 14px;
       padding: 12px 20px;
       bottom: 20px;
       right: 20px;
   }
} 
#modal{
    backdrop-filter: blur(4px);
}
#createNoteBody{
    background-color:#e9e9e9;
    border-radius:1rem;
}
#editNoteModal{
    backdrop-filter: blur(4px);
}
#sumaSimbol{
    margin-top: 0.2rem;
    font-size: 2rem;
}
#cuerpoModal{
    background-color:#e9e9e9;
    border-radius:1rem;
}

#divContent{
    min-width:100px;
    min-height:200px;
    width:100%;
    height:100%;
    border:1px gray solid;
    margin-top: 0.5rem;
    text-indent: 5rem;
}

#divInfoUser{
    float:right
}
#userContainer{
    width:90%
}

#profilePhoto{
    width:80px;
    height:80px;
    border-radius: 100rem;
    background-color: #82a3ff;
    text-align: center;
    margin-top: 1rem;
    
}
#photo{
    text-align: center;
    width:80px;
    position: relative;
    top:22px;
    color:white;
}
#showingUsername{
    position: relative;
    top:1.5rem;
}
#footer{
    width:100%; 
    background-color:red;
}

#linkId{
    float:left;
    margin-left: 1rem;
}
#editContent{
    min-width:100px;
    min-height:200px;
    width:100%;
    height:100%;
    margin-top: 0.5rem;

    background-color:white;
    border-radius:0.3rem;
    border:0;
    box-shadow: 2px 2px 10px rgb(176, 176, 176);
}
#editTitle{
    position: relative;
    left:1rem;
    background-color:#8ac2ff;
    border-radius:0.3rem;
    border:0;
    box-shadow: 2px 2px 10px rgb(176, 176, 176);
}
#messageNoAuthenticated{
    border-radius:1rem;
    text-align:center;
    width:50%;
    height: 80%;
    position:relative;
    top:15rem;
    right:3rem;
    background-color: #e9e9e9;
}
#messageLogin{
    text-align:center;
    width: 100%;
    position: relative;
    bottom: 2rem;
}
#loginLink{
    margin-right: 0.5rem;
    position: relative;
    bottom: 1rem;
}
#registerLink{
    margin-left: 0.5rem;
    position: relative;
    bottom: 1rem;

}
#registerModalBody{
    height: 15rem;
    width: 85%;
}
#registerUsername{
    position: relative;
    left:1rem;
    margin-bottom: 1rem;
    width: 20rem;
}
#registerEmail{
    position: relative;
    left:1rem; 
    margin-bottom: 1rem;
    width: 20rem;
}
#registerPassword{
    position: relative;
    left:1rem;
    margin-bottom: 1rem;
    width: 20rem;
}
#confirmRegisterPassword{
    position: relative;
    left:1rem;
    margin-bottom: 1rem;
    width: 20rem;
}



